# Ignore node_modules directory
/node_modules

# Ignore .env file
/.env

# Ignore .DS_Store files
.DS_Store

# Ignore logs directory
/logs

# Ignore npm-debug.log file
npm-debug.log

# Ignore yarn-error.log file
yarn-error.log

# Ignore dist directory
/dist

# Ignore compiled files
*.class
*.jar
*.war
*.pyc
*.o
*.a

# Ignore IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp
*.swo

# Ignore system files
Thumbs.db
ehthumbs.db
desktop.ini

# Ignore temporary files
*.tmp
*.log
*.bak
